@font-face {
  font-family: 'astro';
  src: url('/fonts/astro.ttf') format('truetype');
  /* Add additional font properties as needed */
}
@font-face {
  font-family: 'time';
  src: url('/fonts/time.ttf') format('truetype');
  /* Add additional font properties as needed */
}
* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
body {
  display:flex;
  margin:0;
  padding:0;
  background-color: black;
  color:white;
  max-width:1200px;
  margin:auto;
  scroll-behavior: smooth;
  font-size:15px;
}
@media (min-width: 800px) {
  body {
    font-size: 30px;
  }
  
}